<h5 class='center'>Sign in for added features</h5>

<div class='social-logins center'>
  <form method="get" action='/auth/google'>
    <button type='submit' class='google-button center hoverable'><div class='google-button-div valign-wrapper'>
      <%= image_tag('btn_google_dark_normal_ios.svg') %>
      <div class='google-button-text'>Sign in with Google</div>
    </div>
  </button>
</form>
</div>
