<div class="col s12 m4">
  <div class="card-panel grey lighten-5 hoverable <%= data.css_name %>">
    <h5 class="center teal-text text-darken-4"><%= data.title %>:</h5>
    <ol>
      <% data.each do |item| %>
      <li><%= link_to item.link_name, item.path %>: <span class="right"><%= item.value %></span></li>
      <% end %>
    </ol>
  </div>
</div>
