<h3 class="center base-card">Counties</h3>

<div class="row">
  <%= render partial: 'partials/ranking_card', locals: { data: @presenter.card1 } %>
  <%= render partial: 'partials/ranking_card', locals: { data: @presenter.card2 } %>
  <%= render partial: 'partials/ranking_card', locals: { data: @presenter.card3 } %>
</div>

<div id="map-info"></div>
<div id="map"></div>

<!-- <script> set pd lbw, d </script> -->
<%= render partial: 'partials/map' %>
