<h3 class="center">Counties</h3>

<div class="row">
  <%= render partial: "partials/ranking_card", locals: { data: @presenter.most_premature_death } %>
  <%= render partial: "partials/ranking_card", locals: { data: @presenter.most_low_birth_weight } %>
  <%= render partial: "partials/ranking_card", locals: { data: @presenter.most_diabetes } %>
</div>

<div id="map-info"></div>
<div id="map"></div>

<%= render partial: "partials/map" %>
