</div>
<section class="slider">
  <ul class="slides">
    <li>
      <%= image_tag('kalen-emsley-Bkci_8qcdvQ-unsplash.jpg') %>
      <div class="caption center-align">
        <h3 class="slid-text">Analyze geographic information</h3>
        <h5 class="slid-text hide-on-small-only">Leverage the power of data to make better decisions and support your organization.</h5>
      </div>
    </li>
    <li>
      <%= image_tag('pierre-blache-VMNG8BYFQfs-unsplash.jpg') %>
      <div class="caption left-align">
        <h3 class="slid-text">Visualize demographics in your area</h3>
        <h5 class="slid-text hide-on-small-only">Use our statistics, charts, and maps to better target your campaigns.</h5>
      </div>
    </li>
    <li>
      <%= image_tag('joonyeop-baek-1kf69eE7VR4-unsplash.jpg') %>
      <div class="caption right-align">
        <h3 class="slid-text">Use data to do good</h3>
        <h5 class="slid-text hide-on-small-only">More effectively target your resources to get the maximum effect.</h5>
      </div>
    </li>
  </ul>
</section>
<div class=container>
<h3 class="center">Welcome to AnalyZip</h3>
<p class="flow-text">We aim to allow non-profits access to a wide range of data with an easy to use interface to help them improve their decision making and do more good in their communities. Zip codes are convienient geographic entities with a wealth of public data available for each one of the over 27,000 in the United States. Our site pulls data from the IRS and other sources, and makes the data easily readable, searchable, and connected to Google Maps. We hope this service empowers you to assist those in your community and across the country.</p>

<hr>

  <%= render partial: 'partials/login' %>

<script>
  const slider = document.querySelector('.slider');
  M.Slider.init(slider, {
    indicators: false,
    height: 500,
    transition: 500,
    interval: 5000
  });
</script>
