.az-logo {
  padding-top: 10px;
}

h3, h5 {
  font-family: "Arial Rounded MT Bold", sans-serif;
}

.slid-text {
  text-shadow: 0px 0px 5px black;
}

.card-panel p {
  margin: .6em 0 0 0;
}
.card-panel ol {
  padding-left: 1em;
}

#map {
  margin: 30px 0;
  width: 100%;
  height: 550px;
}
#map-info {
  height: 1.5em;
}

.all-states {
  text-align: center;
}
.state-link {
  padding-right: 1em;
}

footer {
  padding: .5em;
}
footer p {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .az-logo {
    padding-top: 6px;
  }
}

/* 1225-600 */
/* card media query at 800px */
