.az-logo {
  padding-top: 10px;
}

h3, h5 {
  font-family: "Arial Rounded MT Bold", sans-serif;
}

.slid-text {
  text-shadow: 0px 0px 5px black;
}

.card-panel p {
  margin: .6em 0 0 0;
}
.card-panel ol {
  padding-left: 1em;
}

#map {
  margin: 30px 0;
  width: 100%;
  height: 550px;
}
#map-info {
  height: 1.5em;
}

.all-states {
  text-align: center;
}
.state-link {
  padding-right: 1em;
}

.social-logins {
  padding: 2em;
}
.google-button {
  background-color: #4285F4;
  height: 50px;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}
.google-button:visited {
  background-color: #4285F4;
}
.google-button-div {
  padding: 0px;
  margin: 0px;
  height: 50px;
  width: 240px;
  align-content: center;
  display: float;
}
.google-button-img {
  height: 50px;
  width: 50px;
  padding: 0px;
  margin-left: 0px;
  float: left;
}
.google-button-text {
  font-family: 'Roboto';
  color: white;
  padding: 10pt;
  font-size: 14pt;
  text-align: center;
  float: right;
}

footer {
  padding: .5em;
}
footer p {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .az-logo {
    padding-top: 6px;
  }
}
